<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @shopping_cart.status %>
</p>

<p>
  <strong>Total:</strong>
  <%= @shopping_cart.total %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @shopping_cart.subtotal %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @shopping_cart.discount %>
</p>

<%= link_to 'Back', '/' %>
